header{
    padding-left: 0%;
    height: 35px;
    width: 100%;
    padding-top: 10px;
}
body{
    background-color: white;
}
a{
    text-decoration: none;
    list-style-type: none;
    padding-right: 20px;
    color: black;
    font-size: 20px;
    letter-spacing: 0px;
    cursor: pointer;
}
a:hover{
    background-color: whitesmoke;
}
.null{
    padding-right: 50%;
    padding-left: 20px;
}
.build{
    background-image: url(js-org.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

button{
    border-radius: 20px;
    height: 50px;
    width: 250px;
}
.sources{
    background-image: url(npm.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding-bottom: 30px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-top: 30px;
}
h1{
    border-top: 100px;
    font-size: 100px;
}
#up{
   background-color: yellow;
   color: #000;
   font-size: 18px;
   font-weight: bold; 
}
#down{
    background-color: #000;
    font-size: 18px;
   font-weight: bold; 
   color: whitesmoke;
   border-color: whitesmoke;
   
}
.up{
    border-radius: 0%;
    width: 150px;
    height: 50px;
    border-color: lightgray;
    color: black;
    cursor: pointer;
    margin-right: 10px;
    
}
p{
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;  
}
#search{
    width: 750px;
    height: 45px;
    border-radius: 0px;
    border-bottom: 2px;
    border-right: 0px;
    border-color: whitesmoke;
    letter-spacing: 1px;
}
#sub{
    height: 45px;
    width: 100px;
    font-weight: bolder;
    font-size: 15px;
    color: whitesmoke;
    background-color: #000;
    border-right: 20px;
    margin-right: 45px;
}
label{
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
    border-color: white;
}
img{
    background-color: white;
}
h2{
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;  
}

